@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model X.PagedList.IPagedList<TDanhMucSp>
@using ValiWebsite.Models;
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "DanhMucSanPham";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Danh Muc San Pham</h1>

<p>
    <a asp-action="ThemSanPhamMoi">Create New</a>
</p>
<p> @TempData["Message"]</p>
<table class="table">
    <thead>
        <tr>
            <th>
                TenSp
            </th>
            <th>
                Model
            </th>
            <th>
                CanNang
            </th>
            <th>
                DoNoi
            </th>
            <th>
            
                ThoiGianBaoHanh
            </th>
           
            <th>
               Chiet khau
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSp)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanNang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoNoi)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.ThoiGianBaoHanh)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.ChietKhau)
            </td>    
            <td>
                <a asp-action="SuaSanPham" asp-route-masp="@item.MaSp">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaSp">Details</a> |
                <a asp-action="XoaSanPham" asp-route-masp="@item.MaSp">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@Html.PagedListPager(Model, page => Url.Action("DanhMucSanPham", new {page=page}), new X.PagedList.Web.Common.PagedListRenderOptions() {
    LiElementClasses= new List<String> {"page-item"}, 
    PageClasses = new List<string> {"page-link"}
})